.cell {
    width: 20px;
    height: 20px;
    display: table-cell;
    border-radius: 10px;
}

.food {
    background-color: red;
}

.super-food {
    background-color: black;
}

#main-container {
    border: 1px solid black;
    display: inline-block;
}

.start-form {
    width: 200px;
    height: 200px;
    background-color: #ff99e6;
}

.game-over-container{
    width: 200px;
    height: 200px;
    background-color: #99ffcc;
}


span {
        display: table-cell;
}

#details-bar{
    width: 200px;
    height: 10px;
    display: initial;
}

.wall {
    background-color: blue;
    border-radius: 0px;
}

.trans-wall {
  animation: blinker 1s linear infinite;
  background-color: gray;
}

.trans-wall-last-time {
  animation: blinker 0.5s linear infinite;
  background-color: gray;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.snake {
    background-color: green;
    border-radius: 10px;
}
